body{
    color: rgb(219, 112, 147);
    background: rgb(255, 245, 245);
    font-family: "Bona Nova SC", serif;
    margin: 0px;
    margin-bottom: 100px;:Ç^Ç
}
.chamada{
    background: rgb(255, 228, 235);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: rgb(139, 0, 75);
    font-size: 40px;
    border-bottom: solid 3px rgb(205, 133, 158);
    padding: 20px;
}