body{
    color: lightcoral;
    background: antiquewhite;
    font-family: "Bona Nova SC", serif;
    margin: 0px;
    margin-bottom: 100px;:Ç^Ç
}
.chamada{
    background: rgb(255, 233, 241);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: brown;
    font-size: 40px;
    border-bottom: solid 3px burlywood;
    padding: 20px;
}